.stroje {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

.stroje h3,
.smeny h3 {
  margin-bottom: 10px;
}

.stroje .stroj {
  padding: 1rem 0 0 0;
  border-right: 3px solid var(--primary);
}

.stroje .stroj:last-child,
.tableTimeRow:last-child {
  border: none;
}

.stroje .stroj:last-child .tableColStatic li:last-child {
  border-radius: 0 0 20px 0;
}

.smeny {
  width: 120px;
  background-color: var(--primary);
  color: var(--text);
  font-weight: bold;
  border-radius: 20px 0 0 20px;
}

.tableCol {
  list-style: none;
  padding: 0;
  position: relative;
}

.tableColStatic {
  list-style: none;
  padding: 0;
}

.tableTimeRow {
  height: 40px;
  border-bottom: 2px solid var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableCol .half-hour {
  font-size: 0.75em;
}

.tableRow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.tableRowStatic {
  height: 40px;
}
.tableRowStatic:nth-child(odd) {
  background-color: var(--table);
  /*border-bottom: 2px solid var(--table);*/
}
.tableRowStatic:last-child {
  border: none;
}

/* VYROBA BG */
.greenBG {
  background-color: rgba(0, 128, 0, 0.8);
  color: var(--text);
}
.purpleBG {
  background-color: rgba(128, 0, 128, 0.8);
  color: var(--text);
}
.yellowBG {
  background-color: rgba(255, 255, 0, 0.8);
  color: var(--alternate);
}
.blueBG {
  background-color: rgba(0, 0, 255, 0.8);
  color: var(--text);
}
.redBG {
  background-color: rgba(255, 0, 0, 0.8);
  color: var(--text);
}
.orangeBG {
  background-color: rgba(255, 165, 0, 0.8);
  color: var(--text);
}
.cyanBG {
  background-color: rgba(0, 255, 255, 0.8);
  color: var(--alternate);
}
.pinkBG {
  background-color: rgba(255, 192, 203, 0.8);
  color: var(--text);
}
.brownBG {
  background-color: rgba(165, 42, 42, 0.8);
  color: var(--text);
}
.lightBlueBG {
  background-color: rgba(173, 216, 230, 0.8);
  color: var(--text);
}
.darkGreenBG {
  background-color: rgba(0, 100, 0, 0.8);
  color: var(--alternate);
}
.darkGrayBG {
  background-color: rgba(169, 169, 169, 0.8);
  color: var(--text);
}
.lightGreenBG {
  background-color: rgba(144, 238, 144, 0.8);
  color: var(--alternate);
}
.blackBG {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--text);
}
.whiteBG {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--alternate);
}
.beigeBG {
  background-color: rgba(245, 245, 220, 0.8);
  color: var(--text);
}

@media (max-width: 991px) {
  .vyroba,
  .item-box {
    margin-bottom: 5em;
  }

  .stroje .stroj {
    border: none;
  }
  .stroje .stroj .tableColStatic li:last-child {
    border-radius: 0 0 20px 0;
  }

  .vyroba-menu p {
    font-size: 1em !important;
  }
}
