:root {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out;
  font-size: 16px;
  text-align: center;
  text-decoration: none !important;
  /*overflow: hidden;*/

  --primary: #e73028;
  --text: #ffffff;
  --secondary: #eeeeee;
  --alternate: #0e131f;
  --table: #d9d9d9;
}

body {
  color: var(--alternate);
}

.btn-custom {
  color: var(--text);
  background-color: var(--primary);
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.btn-custom-active {
  border: 2px solid var(--primary);
}

.btn-custom-non-active {
  color: var(--primary);
  background-color: var(--text);
  outline: none;
  border: 2px solid var(--primary);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.btn-custom-non-active:hover {
  color: var(--text);
  background-color: var(--primary);
  transition: 0.2s ease-in-out;
}

@media (max-width: 480px) {
  .btn-custom {
    margin: 1em !important;
  }
}

.btn-edit {
  color: var(--text);
  background-color: var(--primary);
  padding: 3px 5px;
  border-radius: 5px;
}

.btn-change-days {
  font-size: 1.25em;
}

.search-bar {
  border-radius: 12px;
  padding: 10px 15px;
  width: 45%;
}

@media (max-width: 991px) {
  .vyroba,
  .section-content {
    position: relative;
    left: 4.5em;
  }
}

@media (max-width: 767px) {
  .vyroba,
  .section-content {
    position: static;
  }
}

/*--------------------------------------*/
/* CARD HEADER */
/*--------------------------------------*/

.vyroba-menu,
.vyroba-menu .vyroba-info button,
.vyroba-stroje,
.card-header {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 20px !important;
  margin: 20px 40px;
}
.vyroba-menu .vyroba-info,
.card-header {
  height: 100px;
}

/*--------------------------------------*/
/* NAVIGACIA */
/*--------------------------------------*/

.navigacka {
  /*width: 16%;*/
  height: 100vh;
  padding: 20px 0;
  background-color: var(--secondary);
  border-radius: 0 40px 40px 0;
}

.navigacka-menu {
  height: 100%;
}
.navigacka-menu h1,
.navigacka-menu nav {
  width: 100%;
}

.navigacka-menu h1 {
  color: var(--primary);
  font-weight: 900;
  font-style: italic;
  -webkit-transform: scale(1.25, 1); /* Safari and Chrome */
  -moz-transform: scale(1.25, 1); /* Firefox */
  -ms-transform: scale(1.25, 1); /* IE 9 */
  -o-transform: scale(1.25, 1); /* Opera */
  transform: scale(1.25, 1); /* W3C */
}

.navigacka-menu nav a {
  background-color: var(--primary);
  color: var(--text);
  font-weight: bold;
  padding: 10px;
  width: 60%;
  border-radius: 0 20px 20px 0;
  transition: 0.2s ease-in-out;
}

.navigacka-menu nav span {
  font-size: 20px;
  margin-right: 1em;
  margin-left: 0.5em;
}

.navigacka-menu nav a:hover,
.navigacka-menu nav .active {
  color: var(--text);
  width: 75%;
  transition: 0.2s ease-in-out;
}

@media (max-width: 1800px) {
  .navigacka-menu nav a {
    width: 70%;
    border-radius: 0 15px 15px 0;
  }

  .navigacka-menu nav a:hover,
  .navigacka-menu nav .active {
    width: 80%;
  }

  .navigacka-menu nav span {
    font-size: 18px;
    margin-right: 0.75em;
    margin-left: 0.25em;
  }
}

@media (max-width: 1500px) {
  .navigacka-menu nav a {
    width: 80%;
    border-radius: 0 15px 15px 0;
  }

  .navigacka-menu nav a:hover,
  .navigacka-menu nav .active {
    width: 90%;
  }

  .navigacka-menu nav span {
    font-size: 18px;
    margin-right: 0.75em;
    margin-left: 0.25em;
  }
}

@media (max-width: 1200px) {
  .navigacka-menu nav a {
    width: 85%;
    border-radius: 0 15px 15px 0;
  }

  .navigacka-menu nav a:hover,
  .navigacka-menu nav .active {
    width: 90%;
  }

  .navigacka-menu nav span {
    font-size: 16px;
    margin-right: 0.5em;
    margin-left: 0;
  }

  .navigacka-menu h5 {
    display: none;
  }
}
@media (max-width: 1060px) {
  .navigacka-menu nav a {
    width: 90%;
    border-radius: 0 15px 15px 0;
  }

  .navigacka-menu nav a:hover,
  .navigacka-menu nav .active {
    width: 95%;
  }

  .navigacka-menu nav span {
    font-size: 14px;
    margin-right: 0.5em;
    margin-left: 0;
  }

  .navigacka-menu h5 {
    display: none;
  }
}

/*--------------------------------------*/
/* TABLET NAVIGACIA */
/*--------------------------------------*/

.tablet-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 100vh;
  background-color: var(--secondary);
  border-radius: 0 20px 20px 0;
}

.tablet-menu .nav {
  width: 250px;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
}

.tablet-menu .nav-collapsed {
  width: 75px;
}

.tablet-menu .nav-collapsed .nav-label {
  display: none;
}
.tablet-menu .nav-toggler {
  padding: 20px;
}
.tablet-menu .nav-link {
  color: var(--text);
  transition: 0.2s ease-in-out;
  padding-left: 0.5em;
}

.tablet-menu nav div {
  font-size: 20px;
  color: var(--primary);
  padding: 10px 20px;
  border-radius: 12px;
  transition: 0.2s ease-in-out;
}

.tablet-menu nav .active,
.tablet-menu nav div:hover {
  font-size: 20px;
  background-color: var(--primary);
  color: var(--text);
  padding: 10px 20px;
  border-radius: 12px;
  transition: 0.2s ease-in-out;
}
.tablet-menu nav div .nav-label {
  margin-left: 1em;
}

.nav-toggler-btn {
  cursor: pointer;
}

/*--------------------------------------*/
/* MOBIL NAVIGACIA */
/*--------------------------------------*/
.mobile-nav {
  padding: 10px;
  background-color: var(--secondary);
  position: fixed;
  z-index: 1;
  width: 100vw;
  bottom: 0;
}

.mobile-nav .nav-link {
  color: var(--primary);
}

.mobile-nav .active,
.mobile-nav .nav-link:hover {
  background-color: var(--primary);
  color: var(--text);
  border-radius: 35%;
  transform: scale(1.2);
}

/*--------------------------------------*/
/* Kalendarik */
/*--------------------------------------*/

.stroje {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

.stroje h3,
.smeny h3 {
  margin-bottom: 10px;
}

.stroje .stroj {
  padding: 1rem 0 0 0;
  border-right: 3px solid var(--primary);
}

.stroje .stroj:last-child,
.tableTimeRow:last-child {
  border: none;
}

.stroje .stroj:last-child li:last-child {
  border-radius: 0 0 20px 0;
}

.smeny {
  width: 120px;
  background-color: var(--primary);
  color: var(--text);
  font-weight: bold;
  border-radius: 20px 0 0 20px;
}

.tableCol {
  list-style: none;
  padding: 0;
  position: relative;
}

.tableColStatic {
  list-style: none;
  padding: 0;
}

.tableTimeRow {
  height: 40px;
  border-bottom: 2px solid var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableRow {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.tableRowStatic {
  height: 40px;
}
.tableRowStatic:nth-child(odd) {
  background-color: var(--table);
}
.tableRowStatic:last-child {
  border: none;
}

@media (max-width: 991px) {
  .vyroba,
  .item-box {
    margin-bottom: 5em;
  }

  .stroje {
    height: 740px;
  }

  .stroje .stroj {
    border: none;
  }
  .stroje .stroj .tableColStatic li:last-child {
    border-radius: 0 0 20px 0;
  }
}

/*--------------------------------------*/
/* KALENDAR VYROVKY BG*/
/*--------------------------------------*/
.greenBG {
  background-color: #008000;
  color: var(--text);
}
.purpleBG {
  background-color: #800080;
  color: var(--text);
}
.yellowBG {
  background-color: #ffff00;
  color: var(--alternate);
}
.blueBG {
  background-color: #0000ff;
  color: var(--text);
}
.redBG {
  background-color: #ff0000;
  color: var(--text);
}
.orangeBG {
  background-color: #ffa500;
  color: var(--text);
}
.cyanBG {
  background-color: #00ffff;
  color: var(--alternate);
}
.pinkBG {
  background-color: #ffc0cb;
  color: var(--text);
}
.brownBG {
  background-color: #a52a2a;
  color: var(--alternate);
}
.lightBlueBG {
  background-color: #add8e6;
  color: var(--text);
}
.darkGreenBG {
  background-color: #006400;
  color: var(--alternate);
}
.darkGrayBG {
  background-color: #a9a9a9;
  color: var(--text);
}
.lightGreenBG {
  background-color: #90ee90;
  color: var(--alternate);
}
.blackBG {
  background-color: #000000;
  color: var(--text);
}
.whiteBG {
  background-color: #ffffff;
  color: var(--alternate);
}
.beigeBG {
  background-color: #f5f5dc;
  color: var(--text);
}

/*--------------------------------------*/
/*POP UP SETTINGS*/
/*--------------------------------------*/
.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.popup-content {
  border-radius: 20px;
  background-color: white;
  margin: 17% auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 30%;
  font-weight: bolder;
  position: relative;
}
.popup-content button {
  display: block;
  margin: 0 auto;
}
.show {
  display: block;
}

.popupAnimationShow {
  top: -1000px;
  animation: showPopup 0.5s ease forwards;
}

@keyframes showPopup {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateY(105vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
/*--------------------------------------*/
/*HISTORIA + VYROBKY*/
/*--------------------------------------*/
.db-info {
  background-color: var(--secondary);
  width: 70%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}
.db-info:nth-child(odd) {
  background-color: var(--table);
}
.db-info p {
  margin-bottom: 0;
  color: var(--primary);
  font-weight: bold;
}
.db-info p span,
.db-info h1 {
  color: var(--alternate);
}

.db-info .vyrobaID {
  font-size: 12px;
  text-align: left;
}

/*--------------------------------------*/
/* PRIDANIE VYROBY */
/*--------------------------------------*/

.vyrobok-card {
  background-color: var(--secondary);
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid var(--secondary);
  transition: 0.2s ease-in-out;
  pointer-events: auto;
  cursor: pointer;
}

.vyrobok-card:hover {
  /* background-color: var(--table);*/
  border: 2px solid var(--primary);
  transition: 0.2s ease-in-out;
}

.vyrobok-card:focus {
  border: 2px solid var(--primary);
  transition: 0.2s ease-in-out;
}

.scroll-box {
  height: 70vh;
  overflow-y: scroll;
}

.new-vyroba-info {
  background-color: var(--secondary);
  margin: 0 20%;
  padding: 20px 10px;
  border-radius: 20px;
}

.new-vyroba-info input,
.new-vyroba-info select {
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 15px;
}

.active-elem {
  border: 2px solid var(--primary);
}
.disabled-elem {
  pointer-events: none;
  background-color: var(--table);
  border-color: var(--table);
}

.new-vyroba-prehlad {
  background-color: var(--secondary);
  padding: 20px;
  border-radius: 20px;
  height: 80vh;
}

.new-vyroba-info select option:focus {
  background-color: pink;
}

.new-vyroba-prehlad h3,
.new-vyroba-prehlad form {
  width: 100%;
}

@media (max-width: 991px) {
  input[type="number"] {
    width: 60%;
    text-align: center;
  }

  .new-vyroba-prehlad {
    margin-bottom: 5em;
  }
}
